#book * {
  color: #000;
}

.banner {
  text-align: center;
  padding: 5rem 2rem;
  background-color: #fff;
}
#book span {
  font-size: 1rem;
  font-weight: 600;
}

#book h2 {
  font-size: 48px;
  margin: 2rem auto;
  width: 550px;
}

#book p {
  font-size: 18px;
  margin: 2rem auto;
  width: 750px;
}
