.steps {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  
  .step {
    width: 30%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
  .step h2 {
    font-size: 32px;
  }
  .step p {
    font-size: 16px;
  }
  .boutons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: auto;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .learn-more {
    background-color: transparent;
    border: 1px solid black;
  }
  
  .sign-up {
    background-color: #fff;
    color: black;
  }
  